<supervielle-header title="Supervielle"></supervielle-header>
<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col banner-superior (click)="goBannerDetail(srcStaticImg,0,$event)">
        <img src="{{srcStaticImg?.urlBanner}}" alt="Banner del día" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <button ion-button full btn-e big-button (click)="goHomeBanking()">
									<small>
										<p>Mobile Banking</p>
										<p>Personas</p>
									</small>
								</button>
      </ion-col>
      <ion-col col-6>
        <button ion-button full btn-p big-button>
									<small>
										<p>Mobile Banking</p>
										<p>Empresas</p>
									</small>
								</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list home-option-items>
    <ion-item home-item beneficios no-lines (click)="goSearchType()">
      <ion-icon name="leaf" item-start></ion-icon>
      Beneficios
    </ion-item>
    <ion-item home-item contact-center no-lines (click)="goContactCenter()">
      <ion-icon name="leaf" item-start></ion-icon>
      Centro de contacto
    </ion-item>
    <ion-item home-item atm-branch no-lines (click)="goATMAndBranch()">
      <ion-icon name="leaf" item-start></ion-icon>
      Cajeros y sucursales
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar banner-inferior no-padding color="none">
    <ion-slides slides-footer pager="true" loop="false" autoplay="1000">
      <ion-slide (click)="goBannerDetail(listaBannerInferior[0],1,$event)">
        <img src={{listaBannerInferior[0]?.urlBanner}} alt="Banner 1" />
      </ion-slide>
      <ion-slide (click)="goBannerDetail(listaBannerInferior[1],2,$event)">
        <img src={{listaBannerInferior[1]?.urlBanner}} alt="Banner 2" />
      </ion-slide>
      <ion-slide (click)="goBannerDetail(listaBannerInferior[2],3,$event)">
        <img src={{listaBannerInferior[2]?.urlBanner}} alt="Banner 3" />
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>
