<supervielle-header title="Novedades"></supervielle-header>
<ion-content padding>
  <div *ngIf="newsItem">
    <h2 news-title>{{newsItem.titulo}}</h2>
    <div [innerHTML]="newsItem.descripcionLarga"></div>
  </div>
  <div *ngIf="!newsItem">
    <h2 news-title>Sin resultado.</h2>
  </div>
</ion-content>
