<supervielle-header title="Supervielle"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row text-justify>
      <ion-col>
        <p>Ingresá con tu Usario y Contraseña de Home Banking</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form class="form-wrapper" [formGroup]="loginMbiForm" (ngSubmit)="loginMbiForm.valid && doLogin()" novalidate>
    <div class="form-content">
      <ion-row col-12>
        <ion-item col-11>
          <ion-label floating>Usuario</ion-label>
          <ion-input type="text" formControlName="nombre"></ion-input>
        </ion-item>
        <div col-1 help-button-container>
          <button help-button ion-button color="danger" full (click)="showHelp()">?</button>
        </div>
      </ion-row>
      <ion-item>
        <ion-label floating>Contraseña</ion-label>
        <ion-input type="password" formControlName="contraseña"></ion-input>
      </ion-item>
      <ion-col col-12>
        <button ion-button loginbtn color="danger" type="submit" #button [disabled]="!loginMbiForm.valid" full>Ingresar</button>
      </ion-col>
    </div>
  </form>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button ion-button clear color="dark" button-link text-underline (click)="goSignInProblem()">Problemas para ingresar ></button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12>
        <button ion-button block color="danger" outline (click)="goRegistrationStep1()">Registrarme</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
