<supervielle-header title="Novedades"></supervielle-header>
<ion-content padding scroll>
  <div news-titte>{{detail.titulo}}</div>
  <div banner-detail [innerHTML]="detail.descripcionLarga"></div>
  <banner-form *ngIf="detail.index==1" (submitForm)="onSubmit($event)"></banner-form>
</ion-content>
