<supervielle-header title="Novedades"></supervielle-header>
<ion-content no-padding with-padding-bottom>
  <ion-list>
    <ion-item *ngFor="let n of newsList" (click)="goDetail(n)">
      <h2 news-title>{{n.titulo}}</h2>
      <p>{{n.descripcionCorta}}</p>
      <button ion-button clear icon-only item-end color="danger">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
