<supervielle-header title="Beneficios"></supervielle-header>
<ion-content no-padding>
  <ion-list with-padding-bottom>
    <ion-item (click)="goDetail(benefit)" *ngFor="let benefit of benefitList | slice:0:max_results">
      <ion-avatar item-start>
        <img src="{{benefit.logo}}">
      </ion-avatar>
      <h2 benefit-title>{{benefit.rubro}}</h2>
      <h2 benefit-title>{{benefit.marca}}</h2>
      <p><b>{{benefit.descuentoCuotas}}</b></p>
      <p><small>{{benefit.tarjeta}}</small></p>
      <p *ngIf="benefit.identite === '1'"><b>Exclusivo Identit&eacute;</b></p>
      <p>{{benefit.direccion}} - {{benefit.distance}} KM</p>
      <button ion-button clear icon-only item-end color="danger">
		    <ion-icon name="arrow-forward"></ion-icon>
	    </button>
    </ion-item>
    <ion-item *ngIf="benefitList.length === 0">
      <h2> No hay resultados que coincidan con la b&uacute;squeda</h2>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row *ngIf="max_results < benefitList.length">
        <ion-col col-12>
          <button ion-button block color="danger" outline (click)="nextPage()">Ver m&aacute;s resultados</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block clear color="danger" outline (click)="goToMap()">Ver Mapa</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block clear color="danger" outline>Nueva B&uacute;squeda</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
