<supervielle-header title="Centro de Contacto"></supervielle-header>
<ion-content no-padding>
  <ion-list>
    <button ion-item (click)="itemSelected($event, item)" text-capitalize text-wrap *ngFor="let item of contactCenters">
			{{item.description}}
		</button>
  </ion-list>
</ion-content>
