<supervielle-header title="{{title}}"></supervielle-header>
<ion-content no-padding>
  <div>
    <ion-item>
      <h2 atm-branch-title>{{data[0].tipo}} - {{data[0].nombre}}</h2>
      <p>{{data[0].direccion}}</p>
      <p *ngIf="data[0].raw_item.telefono">{{data[0].raw_item.telefono}}</p>
      <p *ngIf="data[0].raw_item.zona">{{data[0].raw_item.zona}}</p>
    </ion-item>
    <ion-item *ngIf="data[0].raw_item.atm || data[0].raw_item.tas">
      <p *ngIf="data[0].raw_item.tas"><strong>Cantidad de TAS:</strong> {{data[0].raw_item.tas}}</p>
      <p *ngIf="data[0].raw_item.atm"><strong>Cantidad de ATM:</strong> {{data[0].raw_item.atm}}</p>
    </ion-item>
    <ion-item *ngIf="data[0].raw_item.horarios">
      <p><strong>Horario de atenci&oacute;n:</strong> {{data[0].raw_item.horarios}}</p>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12>
          <button ion-button block clear color="danger" outline (click)="goToMap()">Ver Mapa</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
