
<supervielle-header title="Cajeros y Sucursales"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="searchType(ATM_AND_BRANCH_ITEMS.CAJERO)">Cajeros</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="searchType(ATM_AND_BRANCH_ITEMS.SUCURSAL)">Sucursales</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="searchType(ATM_AND_BRANCH_ITEMS.CENTRO)">Centro de Servicios</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
