<supervielle-header title="{{title}}"></supervielle-header>
<ion-content no-padding>
  <ion-list with-padding-bottom>
    <ion-item *ngFor="let item of list | slice:0:max_results" (click)="goDetail(item)">
      <ion-avatar item-start>
        <img src="{{item.logo}}">
      </ion-avatar>
      <h2 atm-branch-title>{{item.tipo}} - {{item.nombre}}</h2>
      <p>{{item.direccion}}</p>
      <button ion-button clear icon-only item-end color="danger">
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row *ngIf="max_results < list.length">
        <ion-col col-12>
          <button ion-button block color="danger" outline (click)="nextPage()">Ver m&aacute;s resultados</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <button ion-button block clear color="danger" outline (click)="goToMap()">Ver Mapa</button>
        </ion-col>
        <ion-col col-6>
          <button ion-button block clear color="danger" outline>Nueva B&uacute;squeda</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
