<supervielle-header title="Ayuda"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p title>
          {{helpItem.pregunta}}
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p sub-text>
          {{helpItem.respuesta}}
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
