$font-path: "../assets/fonts";

$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary: #488aff,
  secondary: #32db64,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222222,
  none: transparent,
  segmentGeneral: #d52b1e,
  segmentIdentite: #882345,
  segmentEmpresas: #3e3e40,
  segmentJubilados: #05a599,
  silverBorder: #C8C7CC,
  textGeneral: #616161,
  textareaBack: #F2F2F2,
  buttonBackground: #f3f3f3,
  disableBack: #e2e2e2,
  disableFont: #b6b6b6,
  disableBorder: #CCCCCC,
  textDescription: #7e7e7e,
  invalidBorder: #ea6153,
  errorBackground: #ffafa9,
  textError: #232323
);

@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
