<supervielle-header title="Beneficios"></supervielle-header>

<ion-content>
  <div>
    <ion-row>
      <ion-col col-4 offset-4>
        <img src="./assets/imgs/beneficio-sin-foto.png" alt="">
      </ion-col>
    </ion-row>
    <ion-item item-no-border>
      <h2 benefit-title><b>{{data[0].rubro}} - {{data[0].marca}}</b></h2>
      <p *ngIf="data[0].descuentoCuotas"><b>{{data[0].descuentoCuotas}}</b></p>
      <p *ngIf="data[0].tarjeta"><small>{{data[0].tarjeta}}</small></p>
    </ion-item>
    <ion-item item-no-border>
      <p>{{data[0].direccion}} - {{data[0].distance}} KM</p>
    </ion-item>
    <ion-item>
      <p>Eleg&iacute; donde ahorr&aacute;s:</p>
      <p>V&aacute;lido los d&iacute;as: <b>{{data[0].raw_item.dias}}</b></p>
      <p>V&aacute;lido desde: {{data[0].vigencia.desde}} hasta {{data[0].vigencia.hasta}}</p>
      <p *ngIf="data[0].raw_item.listaLocales[0].zona">En {{data[0].raw_item.listaLocales[0].zona}}</p>
    </ion-item>
    <ion-item>
      <p *ngIf="data[0].paginaWeb">Sitio web: <b>{{data[0].paginaWeb}}</b></p>
      <div *ngIf="data[0].raw_item.listaLocales">
        <p>Locales adheridos:</p>
        <div *ngFor="let local of data[0].raw_item.listaLocales">
          <p><b>{{local.direccion}}</b></p>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div legal-text [innerHTML]="data[0].legales"></div>
    </ion-item>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col col-12>
          <button ion-button block clear color="danger" outline (click)="goToMap()">Ver Mapa</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
