@font-face {
  font-family: "Whitney";
  src: url("../assets/font/Whitney-Medium.otf");
}
@font-face {
  font-family: "Whitney-bold";
  src: url("../assets/font/Whitney-Bold.otf");
}

body {
  color: color($colors, textGeneral);
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
}
// FIXME --> esto es momentáneo

ion-content {
  top: 60px;

  & div.scroll-content {
    margin-top: 0 !important;
  }
}

ion-list[with-padding-bottom] {
  margin-bottom: 10%;
  padding-bottom: 10%;
}

[item-no-border] {
  & div.item-inner {
    border: none !important;
  }
}

ion-label {
  & p {
    white-space: normal !important;
  }
}

ion-label[loginItem] {
  margin: 0 0 -0.5em 1em !important;
}

select {
  padding-right: 2rem;
}

p {
  padding: 0;
  margin: 0 0 0.25em;
}

.list-md .item-input:last-child {
  border: none;
}

.list-ios {
  margin: 0;
}

.item,
[atm-branch-title],
[banner-detail-title],
[benefit-title],
[contact-center-title],
[news-title] {
  font-size: 1.4rem;
  color: color($colors, segmentGeneral);
}

.item {
  color: color($colors, textGeneral);
}

ion-header ion-icon.back-button-icon.icon {
  color: color($colors, segmentGeneral);
}

page-home-public {
  .toolbar-title.toolbar-title-ios,
  .toolbar-title.toolbar-title-md,
  .toolbar-title.toolbar-title-wp {
    color: black;
  }

  [slides-footer] {
    height: 17.61vh;

    img {
      height: 17.61vh;
      width: 100%;
    }
  }

  [btn-e] {
    background: linear-gradient(to bottom, rgba(213, 42, 30, 1) 0%, rgba(185, 12, 0, 1) 100%);
  }

  [btn-p] {
    background: linear-gradient(to bottom, rgba(109, 109, 109, 1) 0%, rgba(78, 78, 79, 1) 100%);
  }

  [big-button] {
    height: 17.16vh;

    small > p {
      padding: 0;
      margin: 0;
      font-size: large;
    }
  }

  [banner-superior] {
    height: 30.84vh;
  }

  [banner-inferior] {
    height: 17.61vh;
  }

  .list-ios [home-item].item,
  [home-item].item {
    height: calc(27vh / 3);
    border-bottom: 1px solid color($colors, silverBorder) !important;

    ion-label.label.label-ios {
      margin-left: 1em;
      font-size: 1.10em;
      color: color($colors, textDescription);
    }
  }
}

page-benefit-detail {
  [description] {
    font-weight: bold;
    color: color($colors, textDescription);
  }

  [credit] {
    color: color($colors, segmentGeneral);
    font-size: small;
    padding-bottom: 1em;
  }
}

[title] {
  color: color($colors, segmentGeneral);
  font-size: medium;
}

[sub-text] {
  color: color($colors, textDescription);
}

page-login-business {
  .swiper-slide {
    display: block;
  }

  .select-text,
  ion-label {
    margin-left: 0.75em;
  }

  ion-input,
  ion-select,
  ion-textarea {
    background-color: color($colors, textareaBack);
    padding: 0.5em 0.75em;
  }

  .invalid {
    border: 1px solid color($colors, invalidBorder);
  }

  [button-link] {
    text-decoration: underline;
  }

  [loginbtn] {
    background: color($colors, segmentEmpresas);
  }
}
// page-login-people {
//   .swiper-slide {
//     display: block;
//   }
//
//   .select-text,
//   ion-label {
//     margin-left: 0.75em;
//   }
//
//   ion-input,
//   ion-select,
//   ion-textarea {
//     background-color: color($colors, textareaBack);
//     padding: 5px 10px;
//   }
//
//   .invalid {
//     border: 1px solid color($colors, invalidBorder);
//   }
//
//   [button-link] {
//     text-decoration: underline;
//   }
//
//   [loginbtn] {
//     background: color($colors, segmentGeneral);
//   }
// }

page-banner-detail,
page-contact-center-detail {
  a {
    color: color($colors, segmentGeneral);
  }
}

[banner-detail],
[contact-center-detail] {
  color: color($colors, textDescription);
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

[legal-text] {
  font-family: 'Verdana';
  font-size: 1.1rem;
  color: #616161;
  line-height: 1.525rem;
  padding: 0.2rem;
  white-space: normal;
  text-align: justify;
  margin-bottom: 15%;
}
/** MAP **/
agm-map {
  height: 92.5%;
}
/** FORMS **/
form.form-wrapper {
  margin-bottom: 10%;

  div.form-content {
    margin-bottom: 5%;

    ion-item {
      padding-left: 0;
    }

    [help-button-container] {
      padding: 0;

      [help-button] {
        padding: 0 !important;
        height: 40px !important;
        font-size: 1.5rem !important;
      }
    }
  }

  div.validation-errors {
    div.error-message {
      color: color($colors, danger);
    }
  }
}

[form-button] {
  background-color: color($colors, buttonBackground);
  color: color($colors, segmentGeneral);
  border: 1px solid color($colors, disableBorder);
  margin-bottom: auto;
}

.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner {}
