<supervielle-header title="{{headerTitle}}"></supervielle-header>
<ion-content padding *ngIf="selectedItem.type==0">
  <div contact-center-title>{{selectedItem.description}}</div>
  <div contact-center-detail [innerHTML]="selectedItem.detail"></div>
</ion-content>

<ion-content padding *ngIf="selectedItem.type==1">
  <contact-form (submitForm)="onSubmit($event)"></contact-form>
</ion-content>

<ion-content padding *ngIf="selectedItem.type==2">
  <ion-list>
    <button ion-item (click)="goFacebook()">
      <ion-icon name="logo-facebook" item-start color="danger"></ion-icon>
      <div class="item-note">
        Facebook
      </div>
    </button>
    <button ion-item (click)="goTwitter()">
      <ion-icon name="logo-twitter" item-start color="danger"></ion-icon>
      <div class="item-note">
        Twitter
      </div>
    </button>
  </ion-list>
</ion-content>
