<ion-header>
  <ion-navbar class="navbar_left">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="nabvar_center">{{titleText}}</ion-title>
    <ion-buttons class="navbar_rigth" end *ngIf="showRightButton">
      <button ion-button icon-only *ngIf="showShare">
        <ion-icon color="dark" name="mail"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="showNews">
        <ion-icon color="dark" name="mail"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
