<supervielle-header title="Ubicación"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="show()">Mi Ubicación</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button block color="danger" outline (click)="show()">Otra Dirección</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
