<supervielle-header title="{{title}}"></supervielle-header>
<ion-content no-padding>
  <!-- referencia de template #gmap para acceder al elemento agm-map -->
  <agm-map #gmap [latitude]="centerCoords.latitude" [longitude]="centerCoords.longitude" [zoom]="15">
    <agm-marker [latitude]="origin.latitude" [longitude]="origin.longitude" (markerClick)="originMarker(gmap)"></agm-marker>
    <agm-marker *ngFor="let m of data; let i = index" [title]="m.nombre" [latitude]="m.lat" [longitude]="m.lng" [iconUrl]="m.icon_pin" (markerClick)="showMarkerInfo(m, infoWindow, gmap)">
      <!-- referencia de template #infoWindow para acceder al elemento agm-info-window activo -->
      <agm-info-window #infoWindow [latitude]="m.lat" [longitude]="m.lng">
        <div atm-branch-title><b>{{m.nombre}}</b></div>
        <div>
          <p>{{m.direccion}}</p>
        </div>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</ion-content>
