<form class="form-wrapper" [formGroup]="contactForm" (ngSubmit)="contactForm.valid && sendForm()" novalidate>
  <div class="form-content">
    <ion-item>
      <ion-label floating>Nombre</ion-label>
      <ion-input type="text" formControlName="nombre"></ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('nombre').valid && contactForm.get('nombre').touched || contactForm.get('nombre').dirty">
      <form-error-message [fControl]="contactForm.get('nombre')"></form-error-message>
    </div>
    <ion-item>
      <ion-label floating>Apellido</ion-label>
      <ion-input type="text" formControlName="apellido"></ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('apellido').valid && contactForm.get('apellido').touched || contactForm.get('apellido').dirty">
      <form-error-message [fControl]="contactForm.get('apellido')"></form-error-message>
    </div>
    <ion-item>
      <ion-label floating>Tipo de Documento</ion-label>
      <ion-select formControlName="documentType">
        <ion-option value="{{item.cod}}" *ngFor="let item of documentTypeList">{{item.descripcion}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label floating>Nro. de Documento</ion-label>
      <ion-input type="number" formControlName="documento"></ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('documento').valid && contactForm.get('documento').touched || contactForm.get('documento').dirty">
      <form-error-message [fControl]="contactForm.get('documento')"></form-error-message>
    </div>
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('email').valid && contactForm.get('email').touched || contactForm.get('email').dirty">
      <form-error-message [fControl]="contactForm.get('email')"></form-error-message>
    </div>
    <ion-item>
      <ion-label floating>Teléfono</ion-label>
      <ion-input type="number" formControlName="telefono"></ion-input>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('telefono').valid && contactForm.get('telefono').touched || contactForm.get('telefono').dirty">
      <form-error-message [fControl]="contactForm.get('telefono')"></form-error-message>
    </div>
    <ion-item item-no-border>
      <ion-label>Es Cliente</ion-label>
      <ion-checkbox color="dark" formControlName="cliente"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label floating>Motivo</ion-label>
      <ion-textarea type="text" lines="2" formControlName="motivo"></ion-textarea>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('motivo').valid && contactForm.get('motivo').touched || contactForm.get('motivo').dirty">
      <form-error-message [fControl]="contactForm.get('motivo')"></form-error-message>
    </div>
    <ion-item>
      <ion-label floating>Consulta</ion-label>
      <ion-textarea type="text" lines="2" formControlName="consulta"></ion-textarea>
    </ion-item>
    <div class="validation-errors" *ngIf="!contactForm.get('consulta').valid && contactForm.get('consulta').touched || contactForm.get('consulta').dirty">
      <form-error-message [fControl]="contactForm.get('consulta')"></form-error-message>
    </div>
    <ion-col col-12>
      <button ion-button form-button type="submit" #button [disabled]="!contactForm.valid" full>Enviar</button>
    </ion-col>
  </div>
</form>
