<supervielle-header title="Ayuda"></supervielle-header>
<ion-content no-padding>
  <ion-list>
    <button ion-item (click)="goDetail(item)" text-capitalize text-wrap *ngFor="let item of helpList">
		{{item.pregunta}}
	</button>
  </ion-list>
</ion-content>
