<ng-container>
  <div class="error-message" *ngIf="control.hasError('required')">
    Campo obligatorio.
  </div>
  <div class="error-message" *ngIf="control.hasError('maxlength') || control.hasError('mixlength')">
    Longitud inválida.
  </div>
  <div class="error-message" *ngIf="control.hasError('pattern')">
    Formato inválido.
  </div>
</ng-container>
