<supervielle-header title="Supervielle"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <p>Ingresá usuario de Empresas</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list no-lines>
    <form>
      <ion-item>
        <ion-label loginItem floating>CUIL</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label loginItem floating>Usuario</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label loginItem floating>Contraseña</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>
    </form>
  </ion-list>
  <button ion-button loginbtn full (click)="save()">Ingresar</button>
  <ion-grid>
    <ion-row text-center>
      <ion-col>
        <button ion-button clear color="dark" button-link text-underline>
					Quiero saber como adherirme >
				</button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col col-12>
        Centro de Contacto
      </ion-col>
      <ion-col col-12>
        <a href="">
					atencionaempresas@supervielle.com.ar
				</a>
      </ion-col>
      <ion-col col-12>
        0810-122-4237
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
