<supervielle-header title="Térm. y condiciones"></supervielle-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p title>
          T&eacute;rminos y Condiciones
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p sub-text [innerHTML]="termsItem.descripcionTC"></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid no-padding>
      <ion-row>
        <ion-col>
          <button ion-button block clear color="danger" outline>
			Enviar por email
		  </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
